.dup-button {
	display: block;
	padding: 15px;
	margin: 30px auto;	
	transition: all .3s ease;
	font-size: 1.3rem;
	border-radius: 0;
}

.dup-button:hover {
	background-color: #fff;
	color: #000;
	cursor: pointer;
}

#domain-name.success {
	border-left: 8px solid green ;
  	padding-left: 8px; 
  	background-color: lime;
}


.hidden{
	height: 0;
	overflow: hidden;
}

#clone-modal {
	width: clamp(90vw, 800px, 800px);;
	padding: 0px 50px;	
	transition: all .3s ease;
}

.site-ok, .text-ok {
	height: 50px;
	width: 50px;
	background-color: green;
}

.not-ok {
	height: 50px;
	width: 50px;
	background-color: red;
}

button.close {	
	display: block;
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 1.5rem;
	cursor: pointer;
	transition: all .3s ease;
}

button.close:hover{
	background-color: red;
}